*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.jus{
    justify-content: space-between;
}
.sec_one{
    background-image: url(image2/bg1.png);
    background-size: cover;
    padding: 50px 0 150px 0;
}
.logo1{
    padding: 0 0 30px 0;
    text-align: center;
}
.sec_one_text ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.sec_one_text ul li{
    display: inline-block;
    margin: 20px 0 0 150px;
}
.sec_one_mid h1{
    text-align: center;
    font-size: 250px;
    font-family: 'Grand Hotel', cursive;
    font-weight: 400;
    color: white;
    height: 320px;
    padding: 20px 0 0 0;
}
.sec_one_mid p{
    font-size: 30px;
    font-weight: 400;
    color: white;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 0px 0 80px 0;
    font-family: 'Lato', sans-serif;
}
.ordernow1 button{
    border-radius: 32px;
    background-color: #ffffff;
    display: block;
    margin: 0 auto;
    padding: 20px 100px;
    font-size: 25px;
    text-transform: uppercase;
color: #e8565e;
border: none;
text-align: center;
}
.sec_two{
    background-image: url(image2/bg2.png);
    background-size: cover;
}
.sec_two_text h2{
    font-family: 'Grand Hotel', cursive;
    font-size: 125px;
    color: #e8565e;
    font-weight: 400;
    text-align: center;
    padding: 80px 0 30px 0;
}
.sec_two_text p{
    font-size: 30px;
    color: #333333;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 63%;
    margin: 0 auto;
}
.cart21{
    padding: 100px 0;
}
.cart21 img{
    border-radius: 50%;
    width: 100%;
}
.cart21 h3{
    font-size: 67px;
    color: #e8565e;
    font-weight: 400;
    font-family: 'Grand Hotel', cursive;
    text-align: center;
}
.cart21 p{
    font-size: 22px;
    color: #333333;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 0 0 100px 0;
}
.sec_three{
    background-image: url(image2/bg3.png);
    background-size: cover;
}
.sec_three_text h3{
    font-family: 'Grand Hotel', cursive;
    font-size: 125px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    padding: 100px 0 30px 0;
}
.sec_three_text p{
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 63%;
    margin: 0 auto;
}
.cart3{
    padding: 150px 0 150px 0;
}
.col30{
    width: 30%;
}
.cart31{
    border-radius: 50%;
    border: 5px dashed white;
    height: 300px;
    width: 300px;
}
.cart31 h3{
    font-size: 67px;
color: #ffffff;
font-weight: 700;
font-family: "Lato";
text-align: center;
    padding: 80px 0 0 0;
}
.cart31 h4{
    font-size: 50px;
color: #ffffff;
font-weight: 500;
font-family: "Lato";
text-align: center;
}
.sec_four{
    background-color: #eee6cc;
    padding: 50px 0 110px 0;
}
.sec_four_text h3{
    font-family: 'Grand Hotel', cursive;
    font-size: 125px;
    color: #eb4d55;
    font-weight: 400;
    text-align: center;
    padding: 50px 0 30px 0;
}
.sec_four_text p{
    font-size: 30px;
    color: #3d3d3d;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 63%;
    margin: 0 auto;
    padding: 0 0 60px 0;
}
.cart41{
    display: grid;
    grid-template-columns: 150px 450px;
    padding: 50px  0;

}
.cart41 h2{
    font-size: 50px;
    color: #eb4d55;
    font-weight: 400;
    font-family: "Grand Hotel";
}
.cart41 p{
    font-size: 22px;
    color: #3d3d3d;
    font-weight: 400;
    font-family: "Lato";
}

.sec_five{
    background-image: url(image2/bg5.png);
   background-size: cover;
   padding: 100px 0 130px 0;
}
.sec_five_text{
    padding: 0 0 100px 0;
    margin: 0 0 120px 0;
}
.sec_five_text h3{
    font-size: 100px;
    color: #eb4d55;
    font-weight: 400;
    font-family: "Grand Hotel";
    padding: 120px 0 0 70px;
    margin: 120px 0 0 20px;

}
.col50 p{
    font-size: 30px;
    color: #3d3d3d;
    font-weight: 400;
    font-family: "Lato";
    padding: 20px 0 40px 70px;
    margin: 0 0 0 30px;

}
.col50{
    width: 50%;
}
.order5 button{
    border-radius: 32px;
    background-color: #e8565e; 
    display: block;
    margin: 0 auto;
    padding: 20px 100px;
    font-size: 25px;
    text-transform: uppercase;
    color:#ffffff;
    border: none;
    text-align: center;
}
.sec_six{
    background-color: #eee6cc;
    padding: 20px 0 50px 0;
}
.sec_six_text h3{
    font-family: 'Grand Hotel', cursive;
    font-size: 125px;
    color: #eb4d55;
    font-weight: 400;
    text-align: center;
    padding: 80px 0 30px 0;
}
.sec_six_text p{
    font-size: 30px;
    color: #eb4d55; 
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 63%;
    margin: 0 auto;
}
.cart6{
    border-radius: 16px;
background-color: #faf5e4;
padding: 20px 0 50px 0;
margin: 60px 0;
}
.cart6 img{
    display: block;
    margin: 0 auto;
    padding: 60px 0 20px 0;
}
.cart6 h5{
    font-size: 50px;
color: #eb4d55;
font-weight: 400;
font-family: "Grand Hotel";
text-align: center;
padding: 40px 0 10px 0;
}
.cart6 p{
    font-size: 22px;
color: #3d3d3d;
font-weight: 400;
font-family: "Lato";
text-align: center;
padding: 0 0 30px 0;
}
.order6 button{
    border-radius: 32px;
    background-color: #e8565e; 
    display: block;
    margin: 0 auto;
    padding: 10px 100px;
    font-size: 25px;
    text-transform: uppercase;
    color:#ffffff;
    border: none;
    text-align: center;
}
.sec_seven{
    background-image: url(image2/bg7.png);
    background-size: cover;
    padding: 50px 0 90px 0;
}
.sec7{
    margin: 20px 0 80px 0;
}
.sec7 img{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    padding: 50px 0 ;
}
.sec7 p{
    font-size: 50px;
color: #3d3d3d;
font-weight: bold;
font-family: "Lato";
text-align: center;
width: 80%;
margin: 0 auto;
}
.sec7 h5{
    font-size: 86px;
color: #eb4d55;
font-weight: 400;
font-family: "Grand Hotel";
text-align: center;
padding: 50px 0 100px 0;
}
.sec_eight{
    background-color: #faf5e4;
}
.sec_eight_text h3{
    font-family: 'Grand Hotel', cursive;
    font-size: 125px;
    color: #eb4d55;
    font-weight: 400;
    text-align: center;
    padding: 60px 0 30px 0;
}
.sec_eight_text p{
    font-size: 30px;
    color: #3d3d3d; 
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 63%;
    margin: 0 auto;
}
.sub{
    padding: 10px 0 80px 0;
    justify-content: center;
    padding: 50px 0 90px 0;
}
.sub input{
    width: 500px;
    padding: 15px 0 15px 15px;
    border-radius: 30px 0 0 30px;
    border: none;
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    font-family: "Lato";
    margin: 0 -30px 0 0;

} 
.sub button{
    border-radius: 32px;
    background-color: #e8565e; 
    padding: 10px 60px;
    font-size: 20px;
    text-transform: uppercase;
    color:#ffffff;
    border: none;
    text-align: center;
}
.sec_nine{
    background-color: #2a2a2a;
    padding: 70px 0;
}
.col45{
    width: 45%;
}
.col15{
    width: 15%;
}
.about h6{
    font-size: 54px;
color: #ffffff;
font-weight: 400;
font-family: "Grand Hotel";
}
.about p{
    width: 70%;
    font-size: 23px;
color: #ffffff;
font-weight: 400;
font-family: "Nunito";
}
.fo{
    padding: 0 0 0 50px;
}
.fo h6{
    font-size: 39px;
color: #ffffff;
font-weight: 400;
font-family: "Grand Hotel";
}
.fo ul li{
    line-height: 41px;
color: #ffffff;
font-weight: 400;
font-family: "Nunito";
vertical-align: middle;
}
.fo ul li i{
    font-size: 30px;
}