*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.po-rel{
    position: relative;
}
.po-ab{
    position: absolute;
}
.logo{
    top: 30px;
    left: 740px;
}
.l2{
    right: 100px;
}
.bgd1{
    top: 280px;
    left: 80px;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.jus{
    justify-content: space-between;
}
.sec_one{
    background-color: #88b986;
}
.head ul li {
    display: inline-block;
padding: 100px 0 0 0;
}
.head ul li a{
    text-decoration: none;
    font-size: 29px;
color: #ffffff;
font-weight: 700;
font-family: "Quicksand";
text-align: right;
margin: 0 150px 0 40px;
}
.head1 ul li {
    display: inline-block;
padding: 100px 0 0 0;
}
.head1 ul li a{
    text-decoration: none;
    font-size: 29px;
color: #ffffff;
font-weight: 700;
font-family: "Quicksand";
text-align: left;
margin: 0 40px 0 150px;
}
.col50{
    width: 50%;
}
.img{
    margin: 100px 0;
}
.sec_one_text{
    padding: 0 0 0 130px;
}
.sec_one_text h1{
    font-size: 65px;
line-height: 51px;
color: #ffffff;
font-weight: 600;
font-family: "Raleway";
margin: 120px 0 0 0;
}
.sec_one_text h2{
    font-size: 41px;
line-height: 34px;
color: #ffffff;
font-weight: 500;
font-family: "Quicksand";
}
.sec_one_text p{
    font-size: 38px;
line-height: 32px;
color: #ffffff;
font-weight: 400;
font-family: "Quicksand";
width: 50%;
padding: 90px 0 40px 0;
}
.sec_one_text button{
    color: #ffffff;
font-weight: 700;
font-family: "Raleway";
font-size: 30px;
padding: 10px 20px;
background-color: #ebeae84c;;
border: none;
}
.sec_one_text h3{
    font-size: 25px;
line-height: 32px;
color: #ffffff;
font-weight: 700;
font-family: "Quicksand";
padding: 120px 0 0 0 ;
}
.sec_one_text h4{
    font-size: 20px;
line-height: 32px;
color: #ffffff;
font-family: "Quicksand";
padding: 0 0 90px 0 ;
}
.sec_two{
    background-color: #bad2bb;
}
.sec_two_text h1{
    font-size: 58px;
line-height: 74px;
color: #88b98e;
font-weight: 700;
font-family: "Raleway";
padding: 120px 0 40px 0;
}
.sec_two_text p{
font-size: 29px;
line-height: 40px;
color: #525252;
font-weight: 600;
font-family: "Raleway";
width: 65%;
padding: 0 0 70px 0;
}
.sec_two_text button{
font-size: 33px;
line-height: 42px;
color: #ffffff;
font-weight: 700;
font-family: "Quicksand";
padding: 10px 20px;
background-color: #88b98e;
border: none;
}
.bg2d2{
    top: -90px ;
    right: 70px;
}