*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.jus{
    justify-content: space-between;
}
.po-rel{
    position: relative;
}
.po-ab{
    position: absolute;
}
.sec_one{
    background-image: url(image3/bg1.png);
    background-size: cover;
    padding: 30px 0 120px 0;
}
.head ul li{
    display: inline-block;
    font-size: 20px;
letter-spacing: 3px;
text-transform: uppercase;
font-weight: 700;
font-family: "Open Sans";
}
.head ul li a{
    color: #54524f;
    text-decoration: none;
    margin: 0 20px ;
}
.head ul li button{
    width: 183px;
height: 51px;
border-radius: 25px;
background-color: #7f7770;
}
.head ul li button i{
    font-size: 20px;
    margin: 0  -130px 0 0;
} 
.sec_one_text h1{
    font-size: 92px;
color: #deb37e;
font-weight: 700;
font-family: 'Open Sans', sans-serif;
filter: drop-shadow(2.575px -4.286px 2.5px rgba(84,82,79,0.22));
width: 50%;
padding: 120px 0 20px 0;
margin: 110px 0 0 0 ;
}
.sec_one_text h2{
    font-size: 25px;
letter-spacing: 5px;
color: #54524f;
font-weight: 800;
font-style: italic;
font-family: "Open Sans";
padding: 10px 0 40px 0;
}
.sec_one_text button{
    border-radius: 21px;
background-color: #ffffff;
font-size: 15px;
padding: 10px 20px;
border: none;
color: #776c64;
font-weight: 800;
font-family: "Open Sans";
text-align: center;
}
.sec_one_text p{
    font-size: 21px;
letter-spacing: 1px;
color: #54524f;
font-weight: 400;
font-style: italic;
font-family: "Open Sans";
    padding: 40px 0 150px 0;
    width: 40%;
}
.sec_two{
    background-color: #ffffff;
    padding: 0 0 100px 0;
}
.sec_two_text h2{
    font-size: 63px;
    color: #e2a355;
font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 80px 0 40px 0;
    margin: 50px 0 0 0;
}
.sec_two_text p{
    font-size: 27px;
color: #7f7770;
font-weight: 400;
font-family: "Open Sans";
width: 55%;
margin: 0 auto;
padding: 0 0 40px 0;
text-align: center;
}
.col30{
    width: 30%;
}
.cart2{
    background-color: #7f7770;
    margin: 50px 0 50px 0;
}
.cart2 img {
    width: 100%;
} 
.cart2 h3{
    font-size: 30px;
    color: #ffffff;
    font-family: "Open Sans";
    padding: 20px 0 10px 10px ;
}
.cart2 p{
    font-size: 23px;
    color: #ffffff;
    font-family: "Open Sans";
    padding: 0 0 50px 10px ;

}
.button2 button{
    border-radius: 35px;
    background-color: #7f7770;
    font-size: 23px;
    letter-spacing: 5px;
    line-height: 21px;
    color: #ffffff;
    font-family: "Open Sans";
    padding: 20px 50px;
    display: block;
    margin: 0 auto;
    border: none;
}
.shd{
    bottom: -10px;
    left: -300px;
}
.col50{
    width: 50%;
}
.col50 img{
    width: 100%;
}
.sec_three{
    background-color: #7f7770;
}
.sec_three_text h3{
    font-size: 60px;
color: #ffffff;
font-weight: 700;
font-family: "Open Sans";
width: 88%;
padding: 100px 0 0 0;
}
.sec_three_text h4{
    font-size: 60px;
color: #ffffff;
font-weight: 700;
font-family: "Open Sans";
width: 88%;
}
.sec_three_text p{
    font-size: 30px;
color: #ffffff;
font-weight: 400;
font-family: "Open Sans";
width: 84%;
padding: 40px 0 60px 0;
}
.sec_three_text button{
    font-size: 25px;
letter-spacing: 6px;
line-height: 21px;
color: #ffffff;
font-family: "Open Sans";
border-radius: 37px;
background-color: #e2a355;
border: none;
padding: 20px 30px;
}
.sec_four{
    background-color: #deb37e;
}
.sec_three_text{
    padding: 120px 0 100px 0;
}
.container1{
    width: 600px;
    margin: 0 auto;
}
.sec_five{
    background-color: #7f7770e3;
    padding: 120px 0;
}
.sec_five_text h4{
    font-size: 70px;
color: #ffffff;
font-weight: 600;
font-family: "Open Sans";
text-align: center;
padding: 120px 0 20px 0;
}
.sec_five_text p{
    font-size: 40px;
color: #dbdbdb;
font-weight: 400;
font-family: "Open Sans";
text-align: center;
padding: 20px 0 120px 0;
}
.sh5{
    left: -350px;
}
.sec_six{
    background-image: url(image3/bg6.png);
    background-position-x: right;
height: 900px;
}
.sec_six_text h4{
    font-size: 76px;
color: #deb37e;
font-weight: 800;
font-style: italic;
font-family: "Open Sans";
text-align: right;
filter: drop-shadow(2.575px -4.286px 2.5px rgba(84,82,79,0.36));
padding: 100px 0 0 0;
}
.padding{
    padding: 100px 0;
}
 .sec_six_text h5{
    font-size: 76px;
color: #2a2827e3;
font-weight: 800;
font-style: italic;
font-family: "Open Sans";
text-align: right;
filter: drop-shadow(2.575px -4.286px 2.5px rgba(84,82,79,0.36));
padding: 0 0 150px 0;
} 