*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.jus{
    justify-content: space-between;
    align-items: center;
}
.col25{
    width: 25%;
}
header{
    background-color: #5381c184;
}
.link ul li{
    display: inline-block;
    margin: 0 100px 0 0;
    font-size: 30px;
}
.nav{
    line-height: 100px;
}
.link ul li a{
    color: white;
    text-decoration: none;
}
.img img{
    width: 100%;
    vertical-align: middle;
}
.home_sec{
    background-image: url(image/bg\ img.png) ;
    background-size: cover; 
    /* height: 800px; */
}
.sec_one_text{
    color: white;
    padding: 150px 0;
    text-align: center;
}
.sec_one_text h1{
    font-size: 90px;
    font-weight: 700;
    padding: 100px 0 15px 0;
    margin: 0 auto; 
}

.sec_one_text p{
    font-size: 20px;
    width: 45%;
    margin: 0 auto;
    padding: 40px 0 60px 0;
    text-align: center;
}
.order button{
    border-radius: 32px;
    display: block;
background-color: #edc315;
padding: 20px 100px;
color: white;
font-size: 20px;
border: none;
margin: 0 auto;
}
.padding{
    padding: 0 0 110px 0;
}
.sec_two{
    background-color: #739ee3;
    overflow: hidden;
    /* height: 800px;  */
}
.sec_two h2{
    font-size: 60px;
    color: white;
    text-align: center;
    padding: 50px 0 0 0;
}
.sec_two p{
    font-size: 20px;
    padding: 20px 0;
    width: 45%;
    margin: 0 auto;
    color: white;
    text-align: center;
}
.cart{
    padding: 120px 0;
}
.cart img{
    width: 100%;
    border-radius: 50%;

}
.cart h3{
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 20px 0 10px 0;
}
.cart p{
    font-size: 20px;
    width: 70%;
    text-align: center;
}
.sec_three h2{
    font-size: 80px;
    color: white;
    text-align: center;
    padding: 100px 0 20px 0;
}
.sec_three p{
    font-size: 25px;
    padding: 30px 0 90px 0;
    width: 55%;
    margin: 0 auto;
    color: white;
    text-align: center;
}
.sec_three{

    background-image: url(image/bg3.png);
    background-size: cover;
}
.sec_three_text{
    padding: 80px 0;
    margin: 0 auto;
}
.col30{
    width: 30%;
border-radius: 47%;
border: 10px solid #ffffff;
text-align: center;
padding: 70px 0 0 0;
}

.col30 h4{
    font-size: 60px;
    font-weight: 700;
    color: white;
}
.col30 p{
    font-size: 30px;
    padding: 50px 0 100px 0;
}
.padding1{
    /* padding: 0 0 150px 0; */
    margin: 120px 0;
}
.sec_four{
    background-color: #5380c1;
    padding: 80px 0;
}
.col50{
    width: 50%;
}
.sec_four_text h4{
    color: white;
    font-size: 60px;
    padding: 0 0 30px 0;
}
.sec_four_text p{
    color: white;
    font-size: 30px;
    padding: 10px 40px 30px 0;
}
.col50 img{
    width: 100%;
    border-radius: 50%;
    padding: 150px 0 150px 50px;
}
.order4 button{
border-radius: 32px;
background-color: #edc315;
padding: 20px 100px;
color: white;
font-size: 20px;
border: none;
}
.sec_five{
    background-color: #739ee3;
    padding: 80px 0;
}
.sec_five_text h4{
    color: white;
    font-size: 60px;
    padding: 0 0 30px 0;
}
.sec_five_text p{
    color: white;
    font-size: 30px;
    padding: 10px 0 40px 0px;
}
.col504{
    width: 50%;
}
.col504 img{
    width: 100%;
    border-radius: 50%;
    padding: 150px 70px 150px 0;
}
.order5 button{
border-radius: 32px;
background-color: #edc315;
padding: 20px 100px;
color: white;
font-size: 20px;
border: none;
}