style.css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.jcs {
    justify-content: space-between;
    align-items: center;
}

.align-center {
    align-items: center;
}
.col-25{
    width: 25%;
}
.po_ab{
    position: absolute;
    /* top: 0; */
}
.po-rel{
    position: relative;
}

header {
    background-color: #5381c184;
}

.home_sec {
    background-image: url(image/bg\ img.png);
    /* height: 800px; */
}

.logo img {
    width: 100px;
    vertical-align: middle;
}

.navbar {
    line-height: 120px;
}

.links ul li {
    display: inline-block;
}

.links ul li a {
    font-size: 30px;
    margin: 0 0 0 50px;
    text-decoration: none;
    color: aliceblue;
}

.sec_one_text {
    /* margin: 100px 0; */
    padding: 150px 0;
}

.sec_one_text h1 {
    padding: 100px 0 25px 0;
    text-align: center;
    font-size: 70px;
    color: white;
}

.sec_one_text p {
    font-size: 25px;
    color: white;
    margin: 0 auto;
    width: 45%;
    padding: 0 0 25px 0;
    text-align: center;
}

.ordernow button {
    padding: 15px 50px;
    border-radius: 32px;
    background-color: #edc315;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    border: none;
}
.sec_two{
    /* height: 700px; */
    overflow: hidden;
    background-color: #739ee3;
}
.sec_two h2{
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 65px 0 30px 0;
}
.sec_two_text p{
    font-size: 25px;
    color: white;
    text-align: center;
    /* padding: 0 0 65px 0; */
    width: 60%;
    margin: 0 auto;

}
.cart {
    padding: 120px 0;
}
.cart h3 {
    padding:20px 0;
    text-align: center;
    font-size: 40px;
    color: white;
}
.cart p {
    /* padding:20px 0; */
    text-align: center;
    font-size: 23px;
    color: white;
}
.cart img{
    width: 100%;
    border-radius: 50%;
}
.right_de{
    top: -70px;
    left: -170px;
}
.right-tri{
    top: 70px;
    left: 100px;
}