*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.jus{
    justify-content: space-between;
    align-items: center;
}
.col25{
    width: 25%;
}
header{
    background-color: #5381c184;
}
.link ul li{
    display: inline-block;
    margin: 0 50px 0 0;
    font-size: 40px;
}
.nav{
    line-height: 100px;
}
.link ul li a{
    color: white;
    text-decoration: none;
}
.img img{
    vertical-align: middle;
}
.home_sec{
    background-image: url(image/bg\ img.png) ;
    background-size: cover;
    /* height: 800px; */
}
.sec_one_text{
    color: white;
    padding: 150px 0;
    text-align: center;
}
.sec_one_text h1{
    font-size: 70px;
    padding: 50px 0 20px 0; 
}
.sec_one_text p{
    font-size: 20px;
    width: 45%;
    margin: 0 auto;
    padding: 0 0 30px 0;
    text-align: center;
}
.order button{
    border-radius: 32px;
    display: block;
background-color: #edc315;
padding: 20px 100px;
color: white;
font-size: 20px;
border: none;
margin: 0 auto;
}
.sec_two{
    background-color: #739ee3;
    overflow: hidden;
    /* height: 800px;  */
}
.sec_two h2{
    font-size: 60px;
    color: white;
    text-align: center;
    padding: 50px 0 0 0;
}
.sec_two p{
    font-size: 20px;
    padding: 20px 0;
    width: 45%;
    margin: 0 auto;
    color: white;
    text-align: center;
}
.cart{
    padding: 120px 0;
}
.cart img{
    width: 100%;
    border-radius: 50%;

}
.cart h3{
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 20px 0 10px 0;
}
.cart p{
    font-size: 20px;
    width: 70%;
    text-align: center;
}